.advantages__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.advantages__title {
  flex-basis: 50%;
  max-width: 480px;
  font-size: 44px;
}

.advantages__list {
  flex-basis: 50%;
}

.advantages__item {
  background-image: url('../image/star.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 32px;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1240px) {
  .advantages__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__title {
    max-width: 330px;
    font-size: 34px;
  }

  .advantages__item {
    font-size: 20px;
  }
}

@media (max-width: 920px) {
  .advantages__container {
    flex-direction: column;
  }

  .advantages__title {
    max-width: 440px;
    padding-bottom: 14px;
  }

  .advantages__item {
    margin-bottom: 16px;
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .advantages__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__title {
    max-width: 268px;
    padding-bottom: 6px;
  }

  .advantages__item {
    font-size: 14px;
  }
}
