.header {
  padding: 18px 0px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 920px) {
  .header__logo {
    width: 124px;
  }
}
