.header {
  padding: 18px 0px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  background-color: transparent;
  border: 1px solid #232020;
}
